*.cs text eol=crlf
*.md text eol=crlf
*.txt text eol=crlf
*.json text eol=crlf
*.gitattributes text eol=crlf
*.gitignore text eol=crlf
*.unity text eol=crlf
*.prefab text eol=crlf
*.asset text eol=crlf
*.mat text eol=crlf
*.anim text eol=crlf
*.controller text eol=crlf

*.png binary
*.jpg binary
*.jpeg binary
*.pdf binary
*.aseprite binary
*.ogg binary
*.wav binary
*.mp3 binary
*.fbx binary
*.psd binary
*.unitypackage binary
